.container.contacto{
    background-color: rgba(5, 7, 12, 0.4);
    border-radius: 1.5rem;
    width: 70%;
    font-size: small;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
input, textarea{
    width: 70%;
    padding: .7rem;
    border-radius: 1.5rem;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    box-shadow: 1px 3px 16px 1px #601d5a;
}
@media screen and (max-width: 768px){
    .container.contacto{
        background-color: rgba(5, 7, 12, 0.4);
        border-radius: 1.5rem;
        width: 90%;
        font-size: small;
    }
    
    form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
    }
    input, textarea{
        width: 100%;
        padding: .7rem;
        border-radius: 1.5rem;
        border: 2px solid var(--color-primary-variant);
        resize: none;
        box-shadow: 1px 3px 16px 1px #601d5a;
    }
    .btn-group-lg>.btn, .btn-lg {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.25rem;
        --bs-btn-border-radius: 0.5rem;
        width: 220px;
    }
}